  
- if @posts.each.any?
  - @posts.each do |post|
    = link_to post.title, post_path(post)
    = link_to "Edit #{post.title}", edit_post_path(post)
- else
  %h1 no posts added  

%a(href="/posts/new") create a post
